{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="row text-center static-page-box">
    <h1 class="text-center">About IEEE</h1>
    <p style="font-size:1.7rem;">IEEE– Institute of Electrical and Electronics Engineers, is the world’s largest technical professional society, is continuously promoting the development and application of technology and allied sciences for the benefit of humanity and for the advancement of the profession. Formally started in 1963, IEEE now has 430,000 members spanning across 165 countries of the globe. IEEE fosters the development of standards and advancement of technology for the benifit of humanity.</p>
    <p style="font-size:1.7rem;">
        IEEE Kerala Section, one of the 11 Sections of IEEE in India was founded by the technology giant of Kerala, Late KPP Nambiar in 1983. Several innovations from IEEE Kerala Section in organizing activities for students as well as professionals have been appreciated and replicated by the global IEEE community. Winner of MGA Large Section Award in 2015 and Region 10 (Asia Pacific) Outstanding Large Section Award in 2004, 2009 and 2015, IEEE Kerala Section has been organizing high quality, high impact technical events and humanitarian projects. Please visit our website https://ieeekerala.org/ for more details about the activities of IEEE Kerala section.</p>
</div>
{% endblock %}
