<div id="type-selector" class="pac-controls" style="display: none;">
  <input type="radio" name="type" id="changetype-all" checked="checked">
  <label for="changetype-all">All</label>
</div>
<div id="strict-bounds-selector" class="pac-controls" style="display: none;">
  <input type="checkbox" id="use-strict-bounds" value="">
  <label for="use-strict-bounds">Strict Bounds</label>
</div>

<div class="form-group">
  <label class="control-label" for="pac-input">
  Enter location manually
</label>
<input type="text" name="needothers" maxlength="500" class="form-control" placeholder="Enter location manually" title="" id="pac-input">
</div>


    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>