{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<form action="" method="get" class="text-center">
       {{ filter.form.as_p }}
       <input value="View requests" class="btn btn-primary" type="submit" />
 </form>
 <div class="table-responsive">
  <table class="table">
    <tr>
      <th>District</th>
      <th>Location</th>
      <th>GPS Location</th>
      <th>Requestee</th>
      <th>Contact number</th>
      <th>Summary of request</th>
      <th>Date</th>
    </tr>
    {% for req in filter.qs %}
        <tr>
          <td>{{ req.get_district_display }}</td>
          <td>{{ req.location }}</td>
          <td>
            {% if not req.is_request_for_others and req.latlng %}
              <a class="btn btn-sm btn-success" href="https://maps.google.com/?q={{ req.latlng }}" target="_blank">Open in maps</a>
              <br>
              Accuracy: {{ req.latlng_accuracy }}
            {% else %}
              NA
            {% endif %}
          </td>
          <td>{{ req.requestee }}</td>
          <td>{{ req.requestee_phone }}</td> 
          <td>{{ req.summarise | linebreaks }}</td>
          <td>{{ req.dateadded }}</td>
        </tr>
    {% endfor %}

  </table>
</div>
{% endblock %}
