{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<form action="" method="get" class="text-center">
       {{ filter.form.as_p }}
       <input value="View requests" class="btn btn-primary" type="submit" />
 </form>
 <div class="table-responsive">
  <table class="table">
    <tr>
      <th>District</th>
      <th>Location</th>
      <th>GPS Location</th>
      <th>Requestee</th>
      <th>Contact number</th>
      <th>Summary of request</th>
      <th>Date</th>
    </tr>
    {% for req in data %}
        <tr>
          <td>{{ req.get_district_display }}</td>
          <td>{{ req.location }}</td>
          <td>
            {% if not req.is_request_for_others and req.latlng %}
              <a class="btn btn-sm btn-success" href="https://maps.google.com/?q={{ req.latlng }}" target="_blank">Open in maps</a>
              <br>
              Accuracy: {{ req.latlng_accuracy }}
            {% else %}
              NA
            {% endif %}
          </td>
          <td>{{ req.requestee }}</td>
          <td>{{ req.requestee_phone }}</td> 
          <td>{{ req.summarise | linebreaks }}</td>
          <td>{{ req.dateadded }}</td>
        </tr>
    {% endfor %}

  </table>

  <div class="pagination" >
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page=1&district={{ request.GET.district }}">&laquo; first</a>
            <a href="?page={{ data.previous_page_number }}&district={{ request.GET.district }}">previous</a>
        {% endif %}
  
        {% for i in data.paginator.page_range %}
        {% if data.number == i %}
          <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
        {% else %}
          <a href="?page={{ i }}&district={{ request.GET.district }}">{{ i }}</a>
        {% endif %}
      {% endfor %}
  
        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}&district={{ request.GET.district }}">next</a>
            <a href="?page={{ data.paginator.num_pages }}&district={{ request.GET.district }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

</div>
{% endblock %}
