{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<form action="" method="get" class="text-center">
       {{ filter.form.as_p }}
       <input value="View requests" class="btn btn-primary" type="submit" />
 </form>
 <div class="table-responsive">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>District</th>
      <th>Camped at </th>
      <th>Notes</th>
      <th>Added at </th>
    </tr>
    {% for req in data %}
        <tr>
          <td>{{ req.name }}</td>
          <td>{{ req.age }}</td>
          <td>{{ req.address }}</td>
          <td>{{ req.get_district_display}}</td>
          <td>{{ req.camped_at}}</td>
          <td>{{ req.notes}}</td>
          <td>{{ req.get_added_at_display}}</td>
        </tr>
    {% endfor %}

  </table>

  <div class="pagination" >
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{data.previous_page_number}}">previous</a>
        {% endif %}
  
        {% for i in data.paginator.page_range %}
        {% if data.number == i %}
          <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
        {% else %}
          <a href="?page={{i}}">{{ i }}</a>
        {% endif %}
      {% endfor %}
  
        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

</div>
{% endblock %}
