{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">kerala<span style="font-weight: normal;">rescue  DMO Portal</span></h1>
    <p style="margin-bottom:20px;">
        <i>Please Select the district to view stats </i><br/>
  </p>
<form method="get" action="/dmoinfo/"  class="simple-form">
    <div class="form-group"><label class="control-label" for="id_district">Districts - ജില്ല</label><select name="district" class="form-control" title="" required id="id_district">
    <option value="" selected>---------</option>
  
    <option value="tvm">Thiruvananthapuram - തിരുവനന്തപുര</option>
  
    <option value="ptm">Pathanamthitta - പത്തനംതിട</option>
  
    <option value="alp">Alappuzha - ആലപ്പുഴ</option>
  
    <option value="ktm">Kottayam - കോട്ടയം</option>
  
    <option value="idk">Idukki - ഇടുക്കി</option>
  
    <option value="mpm">Malappuram - മലപ്പുറം</option>
  
    <option value="koz">Kozhikode - കോഴിക്കോട</option>
  
    <option value="wnd">Wayanad - വയനാട്</option>
  
    <option value="knr">Kannur - കണ്ണൂർ</option>
  
    <option value="ksr">Kasaragod - കാസർഗോഡ്</option>
  
    <option value="pkd">Palakkad - പാലക്കാട്</option>
  
    <option value="tcr">Thrissur - തൃശ്ശൂർ</option>
  
    <option value="ekm">Ernakulam - എറണാകുളം</option>
  
    <option value="kol">Kollam - കൊല്ലം</option>
  
  </select> 
  <br>
  <input type="submit" class="btn btn-primary">

</div>


</form>
</div>

  {% endblock %}
