{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">kerala<span style="font-weight: normal;">rescue  DMO Portal</span></h1>
    <p style="margin-bottom:20px;">
        <i>Please Select the district to view stats </i><br/>
  </p>
<form method="get" action="/dmoinfo"  class="simple-form">
    <div class="form-group"><label class="control-label" for="id_district">Districts - ജില്ല</label><select name="district" class="form-control" title="" required id="id_district">
    <option value="" selected>---------</option>
  
    <option value="tvm">Thiruvananthapuram</option>
  
    <option value="ptm">Pathanamthitta</option>
  
    <option value="alp">Alappuzha</option>
  
    <option value="ktm">Kottayam</option>
  
    <option value="idk">Idukki</option>
  
    <option value="mpm">Malappuram</option>
  
    <option value="koz">Kozhikode</option>
  
    <option value="wnd">Wayanad</option>
  
    <option value="knr">Kannur</option>
  
    <option value="ksr">Kasaragod</option>
  
    <option value="pkd">Palakkad</option>
  
    <option value="tcr">Thrissur</option>
  
    <option value="ekm">Ernakulam</option>
  
    <option value="kol">Kollam</option>
  
  </select> 
  <br>
  <input type="submit" class="btn btn-primary">

</div>


</form>
</div>

  {% endblock %}
