{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load bootstrap3 %}

<div class="container text-center">
    <h1 class="main-logo">kerala<span style="font-weight: normal;">rescue  DMO Portal</span></h1>
    <p style="margin-bottom:20px;">
        <i>Stats for your District </i><br/>
  </p>

  <div class="row">
    <div class="col-xs-4" style="font-size:  30px">
        Volunteers
        <br> {{volcount}}
        <br>Registered</div>
    <div class="col-xs-4" style="font-size:  30px">
        Contributors<br>
    {{conserve}} Served 
    <br>
    from {{contotal}}</div>
    <div class="col-xs-4" style="font-size:  30px">
            Requests<br>
        {{reqserve}} Served 
        <br>
        from {{reqtotal}}</div>
  
  </div>



</div>

  {% endblock %}
